In [1]:
# ðŸ§¹ Data Cleaning and Preprocessing â€“ Task 1
# Dataset: Sales Data (raw_sales_data.xlsx)

# Step 1: Import libraries
import pandas as pd
import numpy as np

In [2]:
# Step 2: Load dataset
df = pd.read_excel('E:/Internship/DA Intern/Task1/dataset/retaildata1.xlsx')
print("âœ… Dataset loaded successfully!")
print("Initial shape:", df.shape)

âœ… Dataset loaded successfully!
Initial shape: (24, 11)

In [3]:

# Step 3: Inspect dataset
print("\n--- Dataset Info ---")
print(df.info())

print("\n--- Missing Values ---")
print(df.isnull().sum())

print("\n--- Sample Records ---")
print(df.head())

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    24 non-null     object
 1   Customer ID       24 non-null     object
 2   Category          24 non-null     object
 3   Item              17 non-null     object
 4   Price Per Unit    20 non-null     float64
 5   Quantity          21 non-null     float64
 6   Total Spent       21 non-null     float64
 7   Payment Method    24 non-null     object
 8   Location          24 non-null     object
 9   Transaction Date  24 non-null     datetime64[ns]
 10  Discount Applied  16 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 2.2+ KB
None

--- Missing Values ---
Transaction ID      0
Customer ID         0
Category            0
Item                7
Price Per Unit      4
Quantity            3
Total Spent         3
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    8
dtype: int64

--- Sample Records ---
  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5

   Quantity  Total Spent  Payment Method Location Transaction Date  \
0      10.0        185.0  Digital Wallet   Online       2024-04-08
1       9.0        261.0  Digital Wallet   Online       2023-07-23
2       2.0         43.0     Credit Card   Online       2022-10-05
3       9.0        247.5     Credit Card   Online       2022-05-07
4       7.0         87.5  Digital Wallet   Online       2022-10-02

   Discount Applied
0               1.0
1               1.0
2               0.0
3               NaN
4               0.0

In [4]:

# Step 4: Handle missing values
for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)
print("\nâœ… Missing values handled successfully!")

âœ… Missing values handled successfully!

C:\Users\Sabarinathan S\AppData\Local\Temp\ipykernel_2304\3321206713.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\Sabarinathan S\AppData\Local\Temp\ipykernel_2304\3321206713.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [5]:
# Step 5: Remove duplicates
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"âœ… Removed {before - after} duplicate rows.")

âœ… Removed 0 duplicate rows.

In [6]:

# Step 6: Standardize text columns
text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()
print("âœ… Text values standardized (lowercase, trimmed).")

# Step 7: Convert date columns
date_cols = [col for col in df.columns if 'date' in col.lower()]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)
print(f"âœ… Converted date columns to dd-mm-yyyy: {date_cols}")

âœ… Text values standardized (lowercase, trimmed).
âœ… Converted date columns to dd-mm-yyyy: ['Transaction Date']

In [7]:
# Step 8: Rename columns
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
print("âœ… Column names standardized (lowercase, underscores).")

# Step 9: Fix data types
if 'quantity' in df.columns:
    df['quantity'] = df['quantity'].astype(int)
if 'sales' in df.columns:
    df['sales'] = df['sales'].astype(float)
print("âœ… Data types corrected where applicable.")

âœ… Column names standardized (lowercase, underscores).
âœ… Data types corrected where applicable.

In [8]:
# Step 10: Verify results
print("\n--- Cleaned Data Info ---")
print(df.info())

# Step 11: Save cleaned dataset
df.to_csv('cleaned_data/cleaned_sales_data.csv', index=False)
print("\nðŸŽ‰ Cleaned dataset saved to 'cleaned_data/cleaned_sales_data.csv'!")

# Step 12: Summary of cleaning process
summary = {
    "Missing Values Handled": True,
    "Duplicates Removed": before - after,
    "Text Columns Standardized": list(text_cols),
    "Date Columns Converted": date_cols,
    "Columns Renamed": True,
    "Data Types Fixed": True
}

print("\n--- Summary of Cleaning ---")
for k, v in summary.items():
    print(f"{k}: {v}")

--- Cleaned Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    24 non-null     object
 1   customer_id       24 non-null     object
 2   category          24 non-null     object
 3   item              24 non-null     object
 4   price_per_unit    24 non-null     float64
 5   quantity          24 non-null     int32
 6   total_spent       24 non-null     float64
 7   payment_method    24 non-null     object
 8   location          24 non-null     object
 9   transaction_date  24 non-null     datetime64[ns]
 10  discount_applied  24 non-null     float64
dtypes: datetime64[ns](1), float64(3), int32(1), object(6)
memory usage: 2.1+ KB
None

ðŸŽ‰ Cleaned dataset saved to 'cleaned_data/cleaned_sales_data.csv'!

--- Summary of Cleaning ---
Missing Values Handled: True
Duplicates Removed: 0
Text Columns Standardized: ['Transaction ID', 'Customer ID', 'Category', 'Item', 'Payment Method', 'Location']
Date Columns Converted: ['Transaction Date']
Columns Renamed: True
Data Types Fixed: True